/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  border: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background: #f4d04e;
  font-family: "Figtree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1.5rem;
  background: #ffffff;
  border: 1px solid #111111;
  box-shadow: 0.5rem 0.5rem 0 #000000;
  border-radius: 1.25rem;
  max-width: 20.4375rem;
}

.illustration-container img {
  border-radius: 0.625rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.learning-div {
  padding: 0.25rem 0.75rem;
  background: #f4d04e;
  border-radius: 0.25rem;
  max-width: fit-content;
}

.learning {
  font-weight: 800;
  font-size: 0.75rem;
}

.learning,
.date,
.main-heading,
.description,
.author {
  margin-top: 0;
  line-height: 150%;
}

.learning,
.date,
.main-heading,
.author {
  color: #111111;
}

.date {
  font-weight: 500;
  font-size: 0.75rem;
}

.main-heading {
  font-weight: 800;
  font-size: 1.25rem;
}

.main-heading:hover {
  color: #f4d04e;
  cursor: pointer;
}

.description {
  font-weight: 500;
  font-size: 0.875rem;
  color: #7f7f7f;
}

.author {
  font-weight: 800;
  font-size: 0.875rem;
}

.author-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.author-container img {
  max-width: 2rem;
}

@media screen and (min-width: 28.5rem) {
  .wrapper {
    box-shadow: 1rem 1rem 0 #000000;
    max-width: 24rem;
  }

  .learning,
  .date {
    font-size: 0.875rem;
  }

  .main-heading {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }
}
